@import "@/styles/colors.scss";

#nav {

  & > .logo {
    width:150px;
    color: $color-link;
    font-size: 22px;
    font-weight: 600;
  }

  & > .links a {
    color: $color-link;
    margin-left: 15px;
    cursor: pointer;
    font-size:12px;

    &.router-link-exact-active {
      padding-bottom: 2px;
      border-bottom: solid 2px $color-link-visited;
    }
  }
}

.username {
  font-size:12px;
  text-align:right;
  line-height:13px;
  color:#000;
}

.useremail{
  font-size:10px;
  text-align:right;
  line-height:11px;
  color:#333;
}

.btn-signout {
  float:right;
  height:25px;
  padding-top:2px;
  margin-top:0;
}
