@import "@/styles/colors.scss";

#nav {

  & > .logo {
    width:150px;
    color: $color-link;
    font-size: 22px;
    font-weight: 600;
  }

  & > .links a {
    color: $color-link;
    margin-left: 15px;
    cursor: pointer;
    font-size:12px;

    &.router-link-exact-active {
      padding-bottom: 2px;
      border-bottom: solid 2px $color-link-visited;
    }
  }
}
