
.button {
	@apply text-center;
	@apply bg-gray-300;
	@apply text-black;
	@apply p-1;
	@apply border;
	@apply border-gray-600;
	@apply rounded;
	@apply text-xs;
	@apply ml-1;	
}

.btn {
	@apply button;
	min-width: 100px;
    background: linear-gradient(0deg, rgba(220,220,225 ,1) 0%, rgba(255,255,255,1) 100%);
	@apply shadow;
    
	&-selected {
		@apply text-center;
		@apply bg-green-300;
		@apply text-white;
		@apply p-1;
		@apply border;
		@apply border-gray-600;
		@apply rounded;
		@apply text-xs;
		@apply ml-1;
	}
}

.btn-mini {
	@apply shadow;
	@apply button;
	min-width: 30px;
	height: 25px;
}

.btn-xs {
	@apply button;
	min-width: 20px;
	height: 20px;
	padding-top:1px;
}

.btn-xxs {
	@apply button;
	min-width: 20px;
	height: 18px;
	padding:0 3px 0 3px;
	font-size: 9px;
}


.btn-short {
	@apply button;
	height: 20px;
	padding-top: 0;
}


.small-link {
	color:#0066aa;
	text-decoration: none;;
	//border-bottom:dashed 1px #0066aa;
	cursor: pointer;
}

button {
	background: linear-gradient(0deg, rgba(220,220,225 ,1) 0%, rgba(255,255,255,1) 100%);
}
button:disabled,
button[disabled] {
	background-color: #cccccc;
	color: #888;
}

.gradient {
	background-color: #f7f7f7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
	background-image: -webkit-linear-gradient(to bottom, #f7f7f7, #e7e7e7); 
	background-image: -moz-linear-gradient(to bottom, #f7f7f7, #e7e7e7); 
	background-image: -ms-linear-gradient(to bottom, #f7f7f7, #e7e7e7); 
	background-image: -o-linear-gradient(to bottom, #f7f7f7, #e7e7e7); 
	background-image: linear-gradient(to bottom, #f7f7f7, #e7e7e7); 
	color: #222;
	box-shadow: 0px 0px 2px #aaa, inset 0px 2px 3px #fff;
}

.gradient:hover {
	background-color: #efe;
	background-image: linear-gradient(to bottom, #e7f7e7, #ffffff); 
}
