
.image-result-Succeeded {
  color: $color-low-severity;
}

.image-result-Failed {
  color: $color-critical;
}

.severity-CRITICAL {
  color: $color-critical;
}

.severity-HIGH {
  color: orange;
}

.severity-MEDIUM {
  color: gold;
}

.severity-LOW {
  color: $color-low-severity;
}

.severity-NOISSUES {
  color: $color-low-severity;
}

.severity-NODATA {
  color: #777777;
}

h1.image-name {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  height: 40px;
  line-height: 40px;
}

.searchbox {
  width: 380px;
  height: 25px;
  border: solid 1px #ccc;
  border-radius: 20px;
  padding-left: 10px;
  color: #444;
  float: left;
}

.search-icon {
  float: left;
  display: revert;
  margin-left: -26px;
  margin-top: 5px;
  color: #ccc;
}

.highlight {
  color: black;
  background-color: yellow;
}

.chart-title {
  text-align: center;
  font-size: 10px;
  margin-top: 5px;
}

svg > g:last-child > g:last-child {
  pointer-events: none;
}
svg > g > g.google-visualization-tooltip {
  pointer-events: none;
}

.tabulator-col-title {
  text-align: center;
}

.context-menu {
  position: absolute;
  padding: 2px;
  border: solid 2px #ccc;
  background-color: #eee;
  border-radius: 2px;
  width: 150px;
  min-height: 40px;
}

.context-menu a {
  font-size: 10px;
  text-decoration: none;
}

.circular-chart {
  display: block;
  margin: 5px auto;
  max-width: 80%;
  max-height: 100px;
  height: 200px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: $color-low-severity;
  /* 4CC790 */
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.info-tab {
  flex: 1;
  padding-left: 10px;
  flex-grow: 1.5;
  flex-direction: column;
  display: flex;
  align-content: center;
  justify-content: center;
}

.tabulator-row .tabulator-cell {
  padding: 6px 4px;
  font-size: 12px;
}

.segment {
  border-radius: 5px;
  border: solid 1px #ddd;
  margin: 10px;
  padding: 0px;
}

.segment-toolbar {
  height: 45px;
  clear: both;
  padding: 10px;
  border-bottom: solid 1px #ccc;
  background-color: #eee;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}


.warning-icon {
  color: $color-critical;
  font-size: 11px;
  margin-top: 4px;
  margin-right: 2px;
}

.noissues-icon {
  color: $color-low-severity;
  font-size: 12px;
  float: left;
  margin-top: 8px;
  margin-right: 2px;
}

.nodata-icon {
  color: gray;
  font-size: 14px;
  color: #bbb;
  padding-left: 1px;
  margin-top:0px;
  margin-right: 2px;
}

.tip-icon {
  font-size: 10px;
  color: #bbb;
  padding-left: 2px;
}

.shadow {
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.07);
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.07);
}