

.severity-Critical {
  color: $color-critical;
}

.severity-High {
  color: orange;
}

.severity-Medium {
  color: gold;
}

.severity-Low {
  color: $color-low-severity;
}

.severity-NOISSUES {
  color: $color-low-severity;
}

.severity-NODATA {
  color: #777777;
}

.highlight {
  color: black;
  background-color: yellow;
}

.tabulator-col-title {
  text-align: center;
}

.context-menu {
  position: absolute;
  padding: 2px;
  border: solid 2px #ccc;
  background-color: #eee;
  border-radius: 2px;
  width: 150px;
  min-height: 40px;
}

.context-menu a {
  font-size: 10px;
  text-decoration: none;
}

.circular-chart {
  display: block;
  margin: 5px auto;
  max-width: 80%;
  max-height: 100px;
  height: 200px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: $color-low-severity;
  /* 4CC790 */
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.tabulator-row .tabulator-cell {
  padding: 6px 4px;
  font-size: 12px;
}


.apexcharts-svg {
  cursor: pointer;
}

.resultSuccess { color: #41C6B9 }
.resultWarning { color: #F8A462 }  
.resultFailed { color: #E33035 }