$color-critical: #E33035;
$color-high-severity: #E3B835;
$color-medium-severity: #F8A462;
$color-low-severity: #41C6B9;
$color-no-data: #B7B8A8;
$color-link: #3182ce;
$color-link-visited: #3182ce;

$color-content-bg: #eee;
$color-content-border: #aaa;

$color-text-light: #666;