// $color-critical: red;
// $color-high-severity: orange;
// $color-medium-severity: gold;
// $color-low-severity: #00ff00;
// $color-no-data: gray;
// $color-link: #3182ce;
// $color-link-visited: #3182ce;

$color-critical: #E33035;
$color-high-severity: #E3B835;
$color-medium-severity: #F8A462;
$color-low-severity: #21CCA5;
$color-no-data: #B7B8A8;
$color-link: #3182ce;
$color-link-visited: #3182ce;