@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	// -webkit-font-smoothing: subpixel-antialiased;
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-left: 10px;
	padding-right: 10px;
}

@import "colors.scss";
@import "charts.scss";
@import "expand.scss";
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
@import 'balloon-css';

.segment {
	@apply flex flex-row justify-around border rounded-lg p-2 mb-3;
}

.segment-noborder {
	@apply flex flex-row justify-around p-2 mb-3;
}

.big-text {
	@apply text-xl antialiased;
}

.btn {
	@apply text-center bg-gray-300 text-black p-1 border border-gray-600 rounded text-xs ml-1;
	min-width: 100px;

	&-selected {
		@apply text-center bg-green-300 text-white p-1 border border-gray-600 rounded text-xs ml-1;
	}
}

.small-link {
	color:#0066aa;
	border-bottom:dashed 1px #0066aa
}

button:disabled,
button[disabled] {
	background-color: #cccccc;
	color: #888;
}

input[type="checkbox"].chk {
	visibility: visible;
	cursor: pointer;
}
