@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: subpixel-antialiased;
}

@import "colors.scss";
@import "charts.scss";
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

.segment {
  @apply flex flex-row justify-around border rounded-lg p-2 mb-3;
}

.segment-noborder {
  @apply flex flex-row justify-around p-2 mb-3;
}


.footer {
  @apply text-center text-xs my-2;
}