.paginator {
    padding: 0;
    height: 20px;
}

.pagebutton {
    width:16px;
    height:16px;
    border: solid 1px #ccc;    
    margin-left:4px;
    font-size:9px;
    position: relative;
    top:-2px;
    border-radius: 100%;
    cursor: pointer;
}

.pagebutton-selected {
    width:16px;
    height:16px;
    border: solid 1px #ccc;    
    margin-left:4px;
    font-size:9px;
    position: relative;
    top:-2px;
    color:#0c0;
    font-weight: bold;
    border-radius: 100%;
}

.pagebutton-delimeter {
    width:16px;
    height:16px;
    margin-left:4px;
    font-size:9px;
    position: relative;
    top:-2px;
    border-radius: 100%;
    opacity: 0.5;
    background: none;
    background-color: transparent;
    cursor: default;
}