@import "@/styles/colors.scss";

.chart-group {
  display: flex;
  flex-direction: row;
  height: 280px;
  align-content: space-between;
}

.chart-group-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chart {
  width: 100%;
  min-height: 450px;
}

.overview-pie {
  flex: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.centered {
  margin-top: 210px;
  margin-left: 45%;
}

.data-table {
  border-radius: 5px;
  border: solid 1px #ddd;
  margin: 10px;
  padding: 0;
}

.tblr-nodata {
  color: $color-no-data;
}

.tblr-error {
  color: $color-critical;
}

.tblr-warning {
  color: $color-medium-severity;
}

.tblr-success {
  color: $color-low-severity;
}

.tabulator-row .tabulator-cell {
  padding: 5px 3px;
  font-size: 10px;
}
