@import "@/styles/colors.scss";

.tblr-nodata {
  color: $color-no-data;
}

.tblr-error {
  color: $color-critical;
}

.tblr-warning {
  color: $color-medium-severity;
}

.tblr-success {
  color: $color-low-severity;
}

.tabulator-row .tabulator-cell {
  padding: 5px 3px;
  font-size: 10px;
}
