.subscription-history-header {
	background-color: #eee;
	height: 66px;
	margin: -5px;
	padding: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 2px;
}


.subscription-history-buttons {
	margin: -5px;
	padding: 5px;
	background-color: #eee;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: right;
	margin-top: 10px;
}

.table-container {
	background-color: #eee;
	width:100%;
	height:60vh;
}
table {
	display: flex;
    flex-flow: column;
    height: 100%;
	width: 100%;
	background-color: #eee;
}
table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
	width: calc(100% - 0.9em);
}
table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
table tbody tr {
	width: 100%;
	background-color: #fff;
}
table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}
