.subscription-history-header {
	background-color: #eee;
	height: 66px;
	margin: -5px;
	padding: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 2px;
}


.subscription-history-buttons {
	margin: -5px;
	padding: 5px;
	background-color: #eee;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: right;	
}

.table-container {
	background-color: #eee;
	width:100%;
	height:calc(100vh - 400px);
}
.chart-container {
	width: 97%;
	margin: auto;
}
table {
	display: flex;
    flex-flow: column;
    height: calc(100% - 10px);
	width: 98%;
	background-color: #eee;
	margin: auto;
}
table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
	width: calc(100% - 0.1em);
	background-color: #aaa;
	color:#fff;
}
table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
table tbody tr {
	width: 100%;
	background-color: #fff;
}
table thead, table tbody tr {
    display: table;
	table-layout: fixed;
	line-height: 10px;
}

table > tbody > tr:hover > td > .show-on-hover {
	display:block;
}
  
table > tbody > tr > td >  .show-on-hover {
	display: none;
}

table, tr, td {
	font-size: 13px;
	border-bottom: solid 1px #ccc;
}