@import "@/styles/colors.scss";

.image-result-Succeeded {
  color: $color-low-severity;
}

.image-result-Failed {
  color: $color-critical;
}

.target, .target-severities {
  font-size:13px;
}

.severity {
  font-size:13px;
}

.cve-title {
  font-size:13px;
  font-weight: bold;
  text-decoration: underline;
}

.cve-desc,
.cve-dependencies {
  margin-top:3px;
  font-size:13px;
  line-height: 15px;
  padding-bottom: 3px;
  text-align: justify;
}



.references-title, 
.dependencies-title,
.remediation-title {
  font-size:13px;
  font-weight: bold;
}
.reference {
  font-size:13px;
  line-height: 12px;
}

.image-name {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}