td,
th {
	padding: 5px;
}

.status-icon {
	position: relative;
	top: -110px;
	left: 0px;
	z-index: 0;
	width: 300px;
	height: 300px;
	overflow: hidden;

	& > i {
		font-size: 300px;
		color: #f0f0f0;
	}

	@media only screen and (max-width: 768px) {
		width: 150px;
		& > i {
			font-size: 150px;
		}
	}

	@media only screen and (max-width: 900px) {
		width: 200px;
		& > i {
			font-size: 200px;
		}
	}

	@media only screen and (max-width: 1200px) {
		width: 250px;
		& > i {
			font-size: 250px;
		}
	}
}

.status-text {
	z-index: 1;
	margin-top: -350px;
}

.scan-detailed-item {
	width: 240px;
	height: 90px;
	background-color: #eee;
	border: solid 1px #aaa;
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 5px;
	cursor: pointer;

	&:hover button:not(:hover) {
		background-color: #efe;
	}
}

.scan-list-item {
	padding: 5px;
	width: 100%;
	margin-bottom: 5px;
	&:nth-of-type(even) {
		background-color: #eee;
	}
	&:nth-of-type(odd) {
		background-color: #d8d8d8;
	}
}

.cdc-text {
	color: transparent;
}

svg > g > g {
	cursor: pointer;
}
.scan-list {
	position: absolute;
	top: 60px;
	bottom: 60px;
	left: 0;
	width: 296px;
	border-top: solid 1px #ccc;
	padding-top: 10px;
	overflow-y: auto;
}

.panel-button-container {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 55px;
	background-color: #ddd;
	border-top: solid 1px #ccc;
}

.right-menu {
	background-color: #eee;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 300px;
	right: -300px;
	transition: right 0.4s;
	border-left: solid 0px #444;
}

.right-menu-open {
	background-color: #eee;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 300px;
	right: 0px;
	transition: right 0.5s;
	border-left: solid 2px #444;
	opacity: .95;
}

.component-history-button {
	position: absolute;
	margin-top: 75px;
	margin-left: 140px;

	& > button {
		font-size: 10px;
		background-color: #eee;
		border: solid 1px #666;
		padding: 0 4px 0 4px;
		border-radius: 3px;
		margin-left: 3px;
	}

	& > button:hover {
		background-color: #efe;
	}
}
