td,
th {
	padding: 5px;
}

.status-icon {
	position: relative;
	top: -110px;
	left: 0px;
	z-index: 0;
	width: 300px;
	height: 300px;
	overflow: hidden;

	& > i {
		font-size: 300px;
		color: #f0f0f0;
	}

	@media only screen and (max-width: 768px) {
		width: 150px;
		& > i {
			font-size: 150px;
		}
	}

	@media only screen and (max-width: 900px) {
		width: 200px;
		& > i {
			font-size: 200px;
		}
	}

	@media only screen and (max-width: 1200px) {
		width: 250px;
		& > i {
			font-size: 250px;
		}
	}
}

.scan-list-item {
	padding: 5px;
	width: 100%;
	margin-bottom: 5px;
	&:nth-of-type(even) {
		background-color: #eee;
	}
	&:nth-of-type(odd) {
		background-color: #d8d8d8;
	}
}

.cdc-text {
	color: transparent;
}

svg > g > g {
	cursor: pointer;
}
.scan-list {
	position: absolute;
	top: 60px;
	bottom: 60px;
	left: 0;
	width: 296px;
	border-top: solid 1px #ccc;
	padding-top: 10px;
	overflow-y: auto;
}

.panel-button-container {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 55px;
	background-color: #ddd;
	border-top: solid 1px #ccc;
}

.right-menu {
	background-color: #eee;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 300px;
	right: -300px;
	transition: right 0.4s;
	border-left: solid 0px #444;
}

.right-menu-open {
	background-color: #eee;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 300px;
	right: 0px;
	transition: right 0.5s;
	border-left: solid 2px #444;
	opacity: .95;
}

.history {
	cursor:pointer;
}

.history-selected {
	font-weight: bold;
}

.history-not-scanned {
	color:#666;
}

.info-tag {
	border-left:solid 3px green;
	padding-left:5px;
	padding-top:5px;
}

.info-tag-score {
	border-left:solid 3px orange;
	padding-left:5px;
	padding-top:5px;
}

.info-tag-date {
	border-left:solid 3px #888;
	padding-left:5px;
	padding-top:5px;
}