@import "@/styles/colors.scss";

.status-bar {
	padding-top: 7px;
	float: right;
}

.status-bar .status {
	float: right;
	animation: fadeIn 2s;
}

.status {
	width: 200px;
}

.status div {
	border-radius: 9px;
}

.nodata {
	background-color: $color-no-data;
	float: left;
}

.passing {
	background-color: $color-low-severity;
	float: left;
}

.warning {
	background-color: $color-high-severity;
	float: left;
}

.failing {
	background-color: $color-critical;
	width: 100%;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
