@import "../../styles/colors.scss";

.advanced-filter {
    //border: solid 1px red;
    float:left;
    padding:2px;
    right:11px;    
    margin-top:0px;
    z-index: 10;
    font-weight: normal;
    position: relative;
    left:0;

    &-menu {
        position: absolute;        
        display: inline-block;
        font-size: 12px;
        z-index: 18;
        top:-2px;
        left:0px;
        width: 920px;
        height: 22px;        
        opacity: 1;
        transition: all .1s ease-in-out;        
        //overflow: hidden;
    }

    &-container {
        width:100vw;
        // text-overflow: ellipsis;
		// white-space: nowrap;
		// overflow: hidden;
        padding:0px;
        padding-top: 2px;
        z-index: 0;
    }

    &-tag {
        float: left;
        border: solid 1px #bbb;
        font-size: 10px;
        border-radius: 10px;
        margin-left:2px;
        margin-top:0px;
        margin-bottom:2px;
        padding-top:1px;
        padding-bottom: 0px;
        padding-left:4px;
        padding-right:4px;
        min-height: 19px;
        cursor:pointer;
    }

    &-delete-tag {
        cursor: pointer;
        color:#aaa;
        padding-left:3px;
        margin-top:2px;
    }

    &-input {
        caret-color: transparent;
        cursor: pointer;
        padding:3px;
        margin-right: 3px;        
        border-radius: 2px;
    }

    &-add-menu-show {
        position: absolute;
        padding:4px;
        z-index: 0;
        width:447px;
        height: 202px;
        border-radius: 4px;
        border: solid 1px #aaa;
        background-color: #eee;
        top:25px;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        @apply shadow;
    }

    &-add-menu-hide {
        top:20px;
        z-index: 0;
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        border: solid 1px #aaa;
        background-color: #eee;
        opacity: 0;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

}

option {
    padding:3px;
    margin:3px;
    font-size: 11px;
}

.adv-filter-checks {
    background-color: #fff;
    position: absolute;
    z-index: 10;
    min-height: 0;
    max-height: 300px;    
    border: solid 1px #aaa;
    font-style: 11px;
    font-weight: normal;
    padding:3px 5px 0 5px;
    left: 0px;
    
    & ul li:hover {
        cursor: pointer;
        background-color: #eee;
        border-radius: 4px;
    }

    & ul li {
        margin: 0;     
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;   
        color:#222;
    }

    &-left {
        width:90px;
        height:170px;
        margin-left:4px;
        padding-left: 3px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    &-right {
        width:348px;
        height:170px;
        margin:0;
        margin-left:92px;        
        padding:0;        
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;        
    }
}

.adv-filter-selected {
    background-color: #ccc;
    border-radius: 4px;
}
.adv-filter-hidden {
    display: none;
    visibility: hidden;
}

.filter-form-button {
    float:right;
    margin-right:3px;
    margin-top:4px;
    min-width: 80px;
}

.tag-hover-clickable {
    cursor:pointer;
    padding-left:2px;
    padding-right:2px;
    font-size:9px;
}

.filter-value-filter-input {
    //color: transparent;
    //text-shadow: 0 0 0 #444;
    width:90%;
    height:22px;
    font-size:10px;
    padding:2px;
    padding-left:5px;

    &:focus {
        outline: none;
    }
}
