@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin:0;
  padding:0;
  height: 98vh;
  line-height: normal;
}

body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #f5f5f5;
}

@import "charts.css";
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

