@import "../../styles/colors.scss";

.inf-component-diff {
	width: 365px;
	height: 100px;
	background-color: $color-content-bg;
	border: solid 1px $color-content-border;
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 5px;
	margin-left: 1px;
	padding: 5px;
	display: flex;
	flex-direction: row;
	align-content: stretch;

	&-left {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}

	&-right {
		width: 145px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 10px;
	}

	&-info {
		max-width: 120px;
		padding-left: 4px;
	}

	&-left-top {
		display: flex;
	}

	&-histogram {
		height: 60px;
	}

	&-name {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		font-size: 13px;
	}

	&-category {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		font-size: 11px;
		color: #444;
		margin-top:-2px;
	}

	&-icon {
		background-color: white;
		width: 36px;
		height: 36px;
		top: 10px;
		left: 0;
		border-radius: 5px;
		padding: 2px;
		padding-top:4px;
		border: solid 1px $color-content-border;
	}

	&-buttons {
		position: relative;
		top: -5px;
		right: 0px;
		padding: 0;
		margin: 0;

		& > button {
			font-size: 10px;
			background-color: #eee;
			border: solid 1px #666;
			padding: 0 4px 0 4px;
			border-radius: 3px;
			margin-left: 3px;
			width: 60px;
		}
	}

	&-pie {
		position: relative;
		top: 0px;
		z-index: 0;
        left: 5px;
        width:70px;
        margin-left: -10px;
    }
    
    &-pies {
        display: flex;
        flex-direction: row;
    }

    &-arrow {
        margin-left:2px;
        width:15px;
        text-align: center;
        padding-top:20px;   
        color:#444;     
    }
}