@import "../../styles/colors.scss";

.inf-component {
	width: 368px;
	min-height: 100px;
	background-color: $color-content-bg;
	border: solid 1px $color-content-border;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 1px;
	border-radius: 5px;
	padding: 5px;
	display: flex;
	flex-direction: row;
	
	&-left {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&-right {
		width: 110px;
	}

	&-info {
		padding-left: 4px;
	}

	&-left-top {
		display: flex;
		flex-direction: row;
	}

	&-histogram {
		height: 50px;
		padding-top: 2px;
		width: 100%;
	}

	&-name {
		font-size: 13px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	&-category {
		font-size: 11px;
		color: $color-text-light;
		margin-top:-2px;
	}

	&-icon {
		background-color: white;
		width: 36px;
		height: 36px;
		top: 10px;
		left: 0;
		border-radius: 5px;
		padding: 2px;
		padding-top: 4px;
		border: solid 1px $color-content-border;
	}

	&-buttons {
		position: relative;
		display: block;
		top:-5px;
		padding: 0;
		margin: 0;

		& > button {
			font-size: 10px;
			background-color: #eee;
			border: solid 1px #666;
			padding: 0 4px 0 4px;
			border-radius: 3px;
			margin-left: 3px;
			min-width: 50px;
		}
	}

	&-pie {
		position: relative;
		top: -2px;
		z-index: 0;
		left: 5px;		
	}
}
