.control-ul {
    border:dashed 1px #eee;
    margin-left:10px;
}

.control-li {
    padding:2px;
    padding-left:0;
    margin-left:5px;
    margin-top:0px;
    margin-bottom:1px;
}

.control-CHANGED {
    //background-color: red;
    color: #cc5500;
}


.control-REMOVED {
    //background-color: red;
    color: #994444;
}

.control-ADDED {
    //background-color: red;
    color: green;
}

.control-SAME {
    visibility: hidden;
    display: none;
    color: #666;
}