{
    "API_URL":"${fe.apiUrl}",
    "TIMEZONE":"${fe.timezone}",
    "AUTHENABLED": ${fe.authEnabled},
    "CLIENT_ID": "${fe.clientId}",
    "TENANT_ID": "${fe.tenantId}",
    "DOMAIN": "${fe.domain}"
}