
---
  apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: joseki-fe
    namespace: ${joseki.namespace}
    labels:
      app: joseki-frontend
  
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: joseki-fe
  labels:
    app: joseki-frontend
rules:

---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: joseki-fe
  labels:
    app: joseki-frontend
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: joseki-fe
subjects:
  - kind: ServiceAccount
    name: joseki-fe
    namespace: ${joseki.namespace}
