* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$content-width: 1030px;

#app {
  width: $content-width;
  margin-left: calc((100% - #{$content-width}) / 2);
  margin-top: 10px;
  position: relative;
  height: 100%;
}

.container {
  border: solid 1px #e2e8f0;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-height: calc(100vh - 100px);
  margin-bottom: 20px;
}

.footer {
  width: 100%;
  position: relative;
  bottom: 5px;
  height: 20px; 
  color: #444;
  font-size: 12px;
  text-align: center;

  & > a {
    color: #777;
    text-decoration: underline;
  }
}
