* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$content-width: 1060px;

#app {
  width: $content-width;
  margin-left: calc((100% - #{$content-width}) / 2);
  margin-top: 10px;
}

.container {
  border: solid 1px #e2e8f0;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-height: 600px;
}

.footer {
  color: #aaa;
  margin-top: 12px;
  margin-bottom: 30px;
  font-size: 12px;
  text-align: center;

  & > a {
    color: #777;
    text-decoration: underline;
  }
}
